.s{
    position: relative;
    left:700px;
    top: 200px;
}
.n{
    position: relative;
    left:650px;
    top: 300px;
    height: 40px;
    width: 40px;
}
.a{
    position: relative;
    left:730px;
    top: 194px;
    height: 40px;
    width: 40px;
}
.j{
    position: relative;
    left: 620px;
    height: 45px;
    width: 100px;
    top: 250px;
}